$gutter: 40px;

body {
    font-family: "Merriweather", serif;
    padding: 0;
    margin: 0;
    color: #1a1b1f !important;
    font-size: 16px;
    line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif !important;
    font-weight: 400;
    // text-align: left;
    // text-align: left;
}
h1 {
    font-size: 64px;
    line-height: 80px;
}
h2 {
    font-size: 34px;
    line-height: 50px;
}

a {
    color: #39229d;
    text-decoration: none;
}
a:visited {
    color: #39229d;
}

.light {
    opacity: 0.6;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 40px auto 20px;
}
.divider {
    height: 1px;
    background-color: #eee;
}
.label {
    opacity: 0.6;
    color: #39229d;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// .pull-up {
//     background: #fff;
//     margin-top: -20px;
//     border-top-left-radius: 20px;
//     border-top-right-radius: 20px;
// }
//

header {
    position: absolute;
    top: 10px;
    right: 0;

    text-align: right;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 20px;

}

a.join-button {
    color: #fff !important;
    border: 2px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;

    &:hover {
        background-color: #fff;
        color: rgba(57, 34, 157, 0.8) !important;
        // text-decoration: underline;
    }

    &.dark {
        border-color: rgba(57, 34, 157, 0.8);
        color: rgba(57, 34, 157, 0.8) !important;
    }
    &.dark:hover {
        background-color: rgba(57, 34, 157, 0.8);
        color: #fff !important;
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(120deg, #04066c, #a052fb);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;
        color: #f3f3f3;
    }
}

/* index */
@import "header";
@import "motto";
@import "offer";
@import "brew";
@import "contact";
