$gutter: 40px;

body {
    font-family: "Merriweather", serif;
    padding: 0;
    margin: 0;
    color: #1a1b1f !important;
    font-size: 16px;
    line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif !important;
    font-weight: 400;
    text-align: left;
}
h1 {
    font-size: 64px;
    line-height: 80px;
}
h2 {
    font-size: 34px;
    line-height: 50px;
}

.light {
    opacity: 0.6;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 40px auto 20px;
}
.divider {
    height: 1px;
    background-color: #eee;
}
.label {
    opacity: 0.6;
    color: #39229d;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* index */
@import "header";
@import "motto";
@import "offer";
@import "brew";
