.weekly-brew {
    margin-top: 2*$gutter;
    margin-bottom: 2*$gutter;

    img {
        border-radius: 6px;
    }

    .up-next {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .col-4 {
            flex: 1;
            // width: 33.3333%;
            padding-left: $gutter/2;
            padding-right: $gutter/2;
            min-width: 240px;
        }
        .col-8 {
            flex: 2;
            // width: 66.6666%;
            padding-right: $gutter/2;
            padding-left: $gutter/2;
            min-width: 50%;

            h2 {
                // speaker name
                margin-top: $gutter/4;
                margin-bottom: $gutter/4
            }
        }

        img {
            width: 100%;
            margin-bottom: $gutter/2;
        }
    }

    .past-speakers-wrapper {
        margin-top: $gutter;
        padding-left: $gutter/2;
        padding-right: $gutter/2;

        .speakers {
            margin-top: $gutter/4;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .item {

                margin-right: $gutter/2;
                text-align: center;
                margin-bottom: 8px;

                img {
                    display: block;
                    width: 150px;
                    height: 150px;
                    // width: 110px;
                    // height: 110px;
                    margin-bottom: 5px;
                }
                div {
                    opacity: 0.8;
                }
            }

            //
            .speaker-name {
                margin-top: 10px;
                line-height: 23px;
                margin-bottom: 20px;
            }
        }

    }
}
