.contact {
    text-align: center;
    margin-top: 2*$gutter;
    margin-bottom: 2*$gutter;

    h2 {
        margin-bottom: 0;
        text-align: center;
    }
    h3 {
        margin-top: $gutter/4;
        text-align: center;
    }
}
