.motto-wrap {
    width: 80%;
    margin-right: auto;
    margin-bottom: 85px;
    margin-left: auto;
    margin-top: 90px;

    h2 {
        margin-top: 10px;
        margin-bottom: 15px;
        padding-bottom: 0px;
    }

    p {
        margin-top: 10px;
        padding-bottom: 1px;
        font-size: 17px;
        line-height: 30px;
        font-weight: 400;
    }
}
