.offer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $gutter;
    margin-bottom: 2*$gutter;

    & > .col {
        flex: 1;
        margin-top: $gutter; // compensate for 1*$gutter above
        padding-left: $gutter/2;
        padding-right: $gutter/2;
        min-width: 240px;

        h2 {
            margin-top: $gutter/4;
            margin-bottom: 0;
        }
    }
}
